<head>
	<link href="view/core/fileViewer/fileViewer.style.css" type="text/css" rel="stylesheet" />
</head>
<div class="container" ngf-drop ngf-select ng-model="files"	ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
						accept="image/*,application/pdf" ngf-pattern="image/*,application/pdf">
	<div class="row">
		<div class=" card col s12">
			<ul>
				<li ng-repeat="x in files">
					<p>{{x.name}}</p>
					<p>{{x.type}}</p>
					
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- 
Make a form that submits a folder name which is used to create a folder model with that name 
-->
<form class="col s12" ng-submit="vm.onSubmit()">
	<div class="row">
	<div class="input-field col s8">
	          <input id="folder_name" ng-model="vm.params.folderName" type="text" class="validate">
	          <label for="folder_name">Folder Name</label>
	        </div>
	<button class="red btn s4" type="submit">Create Folder</button>
</form>
</div>